/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #009688 #ededed;
}

/* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ededed;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #009688;
    border-radius: 5px;
    border: 0px none #ffffff;
}
/* ===== End Scrollbar CSS ===== */
.app-header__logo .logo-src {
    height: 50px;
    width: 50px;
}
.scrollbar-sidebar
{
    overflow: auto;
    overflow-y: scroll;
}
.auth-container
{
    min-height: 100vh;
}
.btn-green-custom
{
    color: #ffffff;
    background-color: #009688;
    border-color: #009688;
}
.btn-green-custom:hover
{
    color: #ffffff;
    background-color: #006e63;
    border-color: #006e63;
}
.img-responsive
{
    background-position: center;
    background-repeat: no-repeat;
}
.img-cover
{
    background-size: cover;
}
.img-contain
{
    background-size: contain;
}
.register-box-university
{
    max-height: 380px;
    overflow: auto;
    overflow-y: scroll;
}
.text-green-custom
{
    color: #009688;
}
.text-green-custom:hover
{
    color: #006e63;
}