/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #009688 #ededed;
}

/* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ededed;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #009688;
    border-radius: 5px;
    border: 0px none #ffffff;
}
/* ===== End Scrollbar CSS ===== */
.app-header__logo .logo-src {
    height: 50px;
    width: 50px;
}
.scrollbar-sidebar
{
    overflow: auto;
    overflow-y: scroll;
}
.auth-container
{
    min-height: 100vh;
}
.box-blue-custom
{
    background-color: #f7f7fe;
    border: solid 1px ;
    border-color: #aeaff7;
}
.box-blue-dark-custom
{
    background-color: #f3f6f7;
    border: solid 1px ;
    border-color: #467b8c;
}
.box-orange-custom
{
    background-color: #fefaf6;
    border: solid 1px;
    border-color: #f9d5b6!important;
}
.box-red-custom
{
    background-color: #fef7f7;
    border: solid 1px ;
    border-color: #f39696;
}
.btn-blue-custom
{
    color: #ffffff;
    background-color: #0d0737;
    border-color: #0d0737;
}
.btn-blue-custom:hover
{
    color: #ffffff;
    background-color: #0b062e;
    border-color: #0b062e;
}
.btn-green-custom
{
    color: #ffffff;
    background-color: #009688;
    border-color: #009688;
}
.btn-green-custom:hover
{
    color: #ffffff;
    background-color: #006e63;
    border-color: #006e63;
}
.box-grey-custom
{
    background-color: #e4e3e9;
    border: solid 1px;
    height: 100px;
    border-radius: 20px;
    border-color: #e4e3e9!important;
}
.icon-box-dashboard
{
    vertical-align: 5px!important
}
.img-responsive
{
    background-position: center;
    background-repeat: no-repeat;
}
.img-cover
{
    background-size: cover;
}
.img-contain
{
    background-size: contain;
}
.register-box-university
{
    max-height: 380px;
    overflow: auto;
    overflow-y: scroll;
}
.text-blue-app
{
    color: #0d0737;
}
.text-green-custom
{
    color: #009688;
}
.text-green-custom:hover
{
    color: #006e63;
}